.p01 {
    background-image: url("/pic/pic/002.jpg");
    background-color: white;
    height: 20rem;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.w01 {
    text-align: left;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}



.sticky-header {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    position: static;
    top: -100px;
    padding: 5px;
}

.sticky-header.sticky {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.carousel .carousel-item {
    height: 550px;
}

.carousel .carousel-item img {
    min-height: 550px;
    max-height: 600px;
    object-fit: cover;
}
